html {
  background: url(images/park_bench.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  display: inline-block;
  min-width: 120px;
  margin: 0 20px 0 0;
  padding: 6px 10px;
  font-size: 40px;
  font-family: 'Tangerine',sans-serif;
  font-weight: 100;
  line-height: 1.2;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color: #fcfcf5;
  background-color: #1E3562;
  text-shadow: -1px 1px #1b3058;
  border: 2px solid #fcfcf5;
  border-radius: 10px;
}

button:hover,
button.hover {
  background-color: #162749;
  text-shadow: -1px 1px #12213d;
}

button:active,
button.active {
  background-color: #12213d;
  text-shadow: -1px 1px #0f1b32;
}

button:focus {
  outline: none
}

.center-align {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
